{% extends "base.html" %}

{% load  static %}

{% block css %}

{% endblock css %}

{% block js %}
<script src="https://www.gstatic.com/firebasejs/9.8.3/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.8.3/firebase-firestore-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.8.3/firebase-auth-compat.js"></script>


<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    
    const firebaseApp = firebase.initializeApp({ 
    apiKey: "AIzaSyCo3lfH793rx5FXfToX3kbzBavP1C6_Nnw",

    authDomain: "django-miguel.firebaseapp.com",
      
    projectId: "django-miguel",
      
    storageBucket: "django-miguel.appspot.com",
      
    messagingSenderId: "83464415451",
      
    appId: "1:83464415451:web:8c314846d58aa79a25c4fe"
         /* Firebase config */ 
    });
    const db = firebaseApp.firestore();
    const auth = firebaseApp.auth();
    function loginGoogle(){
        var provider = new firebase.auth.GoogleAuthProvider();
        firebase.auth()
            .signInWithPopup(provider)
            .then((result) => {
                /** @type {firebase.auth.OAuthCredential} */
                var credential = result.credential;

                // This gives you a Google Access Token. You can use it to access the Google API.
                var token = credential.idToken;
                // The signed-in user info.
                var user = result.user;
                // recuperar id token user
                user.getIdToken().then(
                    function(idToken) {
                        console.log(idToken)
                        var data = {'token_id':idToken}
                        axios.post('/api/google/', data).then(
                            function(response) {
                                console.log(response);
                            }
                        )
                        
                    }).catch(function(error) {
                        // handle error
                    }
                )
                // ...
            }).catch((error) => {
                // Handle Errors here.
                var errorCode = error.code;
                var errorMessage = error.message;
                // The email of the user's account used.
                var email = error.email;
                // The firebase.auth.AuthCredential type that was used.
                var credential = error.credential;
    // ...
             });
    }
 </script>
 
{% endblock js %}